/* Reset CSS */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; 
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* A4 */
.a4-container {
    width: 21cm; 
    height: 29.7cm; 
    background-color: white;
    padding: 2cm;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}


.header {
    display: flex;
    align-items: center;
    gap: 20px;
}


.header img {
    width: auto;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.info p {
    font-size: 16px;
}
.info a{
    color: #333;
    font-weight: normal;
}

h2 {
    text-align: center;
}


h1 {
    color: #2c3e50;
    font-size: 24px;
    margin-bottom: 5px;
}

h2 {
    color: #2980b9;
    margin-top: 20px;
    border-bottom: 2px solid #2980b9;
    padding-bottom: 5px;
}

p, ul, li{
    font-size: 18px;
}


ul {
    list-style-type: none;

}

ul li {
    margin: 5px 0;
}

.character{
    margin: 5px 0;
    padding-left: 10px;

}
.character li::before {
    content: "- ";
    color: #27ae60;
}


a {
    text-decoration: none;
    color: #333;
    font-weight: normal;
}

a:hover {
    color: #e74c3c;
    text-decoration: underline;
}


footer {
    text-align: center;
    margin-top:auto;
    border-radius: 5px;
}


@media print {
    body {
        background: white;
    }
    .a4-container {
        box-shadow: none;
        width: 100%;
        height: auto;
        padding: 1cm;
    }
}
